.container {
  text-align: center;
  margin: 200px 0 0 100px; /* 위쪽으로 50px 아래로 0, 좌우 가운데 정렬 */
  width: 50%;
  object-fit: cover;
}

.container img {
  border-radius: 50%; /* 사진을 원 모양으로 만드는 border-radius 속성 */
  width: 400px; /* 이미지의 너비 지정 */
  height: 400px; /* 이미지의 높이 지정 */
}


.buttons {
  position: relative; /* 버튼을 상대적으로 위치시킴 */
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid ; /* 투명한 테두리 설정 */
  border-radius: 50%; /* 원 모양으로 만들기 */
  font-size: 14px;
  cursor: pointer;
  width: 120px; /* 버튼의 너비 설정 */
  height: 120px; /* 버튼의 높이 설정 */
  display: inline-block; /* 인라인 요소로 표시하여 너비와 높이가 적용되도록 함 */
  text-align: center; /* 텍스트를 버튼 가운데 정렬 */
  line-height: 100px; /* 텍스트를 버튼 가운데 정렬 */
  position: relative; /* 상대적 위치 지정 */
  top: -161px; /* 부모 요소로부터 160px 아래에 위치 */
  left: 758px; /* 부모 요소로부터 100px 왼쪽에 위치 */
}

.buttons #introductionBtn {
  background-color: orange; /* 주황색 배경색 */
  font-size: 15px; /* 글자 크기 설정 */
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}

.buttons #infoBtn {
  background-color: red; /* 빨간색 배경색 */
  font-size: 15px; /* 글자 크기 설정 */
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}

.buttons #plansBtn {
  background-color: skyblue; /* 파란색 배경색 */
  font-size: 15px; /* 글자 크기 설정 */
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}


.content {
  position: absolute; /* 절대 위치 지정 */
  top: 73px; /* 부모 요소로부터 20px 위에 위치 */
  right: 407px; /* 부모 요소로부터 20px 왼쪽에 위치 */
  font-size: 146px; /* 글자 크기 설정 */
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}

.buttons #introductionBtn:hover {
  background-color: #fff; 
  color: #3498db; 
}

.buttons #infoBtn:hover {
  background-color: #fff; 
  color: #3498db; 
}

.buttons #plansBtn:hover {
  background-color: #fff; 
  color: #3498db; 
}


.INTRODUCE {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  font-size: 50px;
  margin-left: 260px; 
  margin-top: 50px; 
}